<h1>Email de tu sitio web</h1>
<ul>
    <li>De: <%= @message.name %></li>
    <li>Compania: <%= @message.company %></li>
    <li>Telefono: <%= @message.phone %></li>
</ul>
<p>Mensaje: <%= @message.body %></p>